body{
    margin: 0;
    box-sizing: border-box;
}
h3{
    color: #2D2D2D;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
  
& a:hover{
   color: #1f1d1d;
}
  }  


.personal-info{
    background-color: #F4F4F4;
    transition: 0.3s ease;
    &:hover{
        transform: scale(1.1);
        box-shadow: 0 0 15px #2D2D2D;
    }
    img{
        width:200px;
        height: 200px;
        margin-left: 50px;
        margin-top: 20px;
    }
    
     @media (max-width:480px){
        img{
        width:90px;
        height: 90px;   
        }

}
    @media (min-width:481px) and (max-width:767px){
       img{
        width:100px;
        height: 100px;   
        }
           h3{
        font-size: small;
    }
       
}
}
@media (min-width:768px) and (max-width:991px){
   .personal-info{
    width: 240px;
    h3{
        font-size: small;
    }
}
  
img{
        width: 70px;
        height: 70px;
       margin-left: 30px;  
    }

}


    


@media (max-width:480px){
  .personal-info{
        width: 200px;
    }
    h3 {
        font-size: small;
    }
    p{
        font-size: x-small;
    }
    a ,li{
        font-size: xx-small;
    } 
     button{
        font-size: x-small;
        width: 70px;
    } 

}
@media (min-width:481px) and (max-width:767px){
    .personal-info{
        width: 300px;
    }
    h3 {
        font-size: small;
    }
    p{
        font-size: x-small;
    }
    a , li{
        font-size: xx-small;
    }
    button{
        font-size: x-small;
        width: 80px;
    }
    
}
.profile{
  transition: all 0.3s ease;  
  &:hover{
     transform: scale(1.1);
     box-shadow:0 0 15px #14486b;
  }
}
.experience{
    @extend .profile;

}
.education{
    @extend .profile;
}
.personal-skills{
    @extend .profile;
}